body{
    background-color: aqua;
    
}

span{
    color:blue;
    
    
}

.header{
    width: 145px;
    height: 31px;
}

.header:focus,
.header:hover{
    color: white;
    background-color: blue;
}

